@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafaf9; /* stone-50 */
  --foreground: #1c1917; /* stone-900 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1c1917; /* stone-900 */
    --foreground: #fafaf9; /* stone-50 */
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background: var(--background);
}

::selection {
  background-color: #f97316; /* orange-500 */
  color: white;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
